/* Stylesheet for index.html */
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
header, .hero-section, footer{
  background-color: #1F2937;
}
.quote-section {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  padding-top: 72px;
  padding-bottom: 72px;
}
.action-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
}
.action-container {
  display: flex;
  color: #E5E7EB;
  padding: 48px;
  flex-basis: 720px;
  background-color: #3882F6;
  justify-content: space-around;
  border-radius: 16px;
  align-items: center;
}
.action-container button {
  background-color: #3882F6;
  color: #E5E7EB;
  border: 1px solid #E5E7EB; 
  border-radius: 8px;
  flex-basis: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 820px;
}
.quote-section em {
  font-size: 36px;
  font-style: italic;
  max-width: 820px;
  color: #1F2937;
  font-weight: 300;
}
.quote-section strong {
  align-self: flex-end;
  display: block;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.card-image-container {
  width: 170px;
  height: 170px;
  border-radius: 16px;
  border:#3882F6 solid;
}
.card {
  flex-basis: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.information-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}
.information-section h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
.hero-section{
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
  gap: 48px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 8px;
}
.hero-section img {
  display: block;
  width: 480px;
  height: auto;
}
h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}
nav, .hero-section p {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #E5E7EB;
}
button {
  outline: none;
  border: none;
}
.hero-section button {
  font-size: 18px;
  background-color: #3882F6;
  color: #E5E7EB;
  padding: 8px 16px;
  border-radius: 8px;
  align-self: first baseline;
  font-weight: bold;
  width: 200px;
}
header {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  padding-bottom: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

footer {
  display: flex;
  color: #E5E7EB;
  padding: 24px 0;
  align-items: center;
  justify-content: center;
}